/* ============================================================
   portrait.css — 캐릭터 입간판(立ち絵) 재배치
   ============================================================ */
@import url("https://hazfl.github.io/obs_ccf/CSS/asset/font.css");
@import url("https://hazfl.github.io/obs_ccf/CSS/asset/reset.css");

.SELECTOR_character_portrait {
  position: fixed !important;
  bottom: 0; left: 0;
  width: 20vw !important;
  height: auto !important;
  z-index: 3;
}
