/* ============================================================
   timer.css — 타이머 디자인
   ============================================================ */
@import url("https://hazfl.github.io/obs_ccf/CSS/asset/font.css");
@import url("https://hazfl.github.io/obs_ccf/CSS/asset/reset.css");

.SELECTOR_timer {
  position: fixed !important;
  top: 4vh; left: 50%;
  transform: translateX(-50%) !important;
  z-index: 4;

  background: var(--panel-bg);
  border: var(--panel-border);
  border-radius: var(--panel-radius);
  padding: 6px 20px;
  font-family: var(--font-display) !important;
  color: var(--accent-color);
  font-size: 1.4rem;
  font-weight: bold;
}
