@import url("https://hazfl.github.io/obs_ccf/style.css");
#root .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation6 {display: none;}

div[tabindex="0"][style^="right:"]>div:nth-child(1) {display: none;}
header.MuiAppBar-positionFixed+div {display: none;}
[style^='transform: translate'] > [style^='transform: scale'] > div:nth-child(1) {display: none;}

figure {display: none;}