html, body {
  background-color: transparent !important;
  visibility: hidden !important;
}

.sc-fDUjeW irPYZJ;
.MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation6 sc-dVSXPv ktZsQs css-175dgcc;
.MuiPaper-root MuiPaper-elevation MuiPaper-elevation0 MuiAppBar-root MuiAppBar-colorDefault MuiAppBar-positionFixed sc-kSCeZB jFTmfo mui-fixed css-wga6ab {
  visibility: hidden !important;
}

.MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation6 sc-dVSXPv ktZsQs css-175dgcc * {
  visibility: visible !important;
}

.MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation6 sc-dVSXPv ktZsQs css-175dgcc {
  position: fixed !important; 
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  z-index: 99999 !important;
