/* obs,스크롤,카드데스크,컨트롤,드래그,다이스,수정,헤더,마크패널,모달,모니터링,새주사위,스케일링,스크린패널,타이머,볼륨 */

body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none !important;
}

.sc-iiBnab {
  display: none;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4,
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation6 {
    display: none;
}
/* 패널*/
div[tabindex="0"][style^="right:"] {
    width: 100%;
}

[aria-label="Ctrl + ドラッグ"],
[aria-label="Command + ドラッグ"] {
  display: none;
}

div[aria-label*="のダイス ["] > [src*="_dice/"] {
    display: none;
}

div:not([class]) > button.MuiFab-root {
    display: none;
}

header.MuiAppBar-positionFixed {
    display: none;
}


.MuiDialog-root {
  display: none;
}



div[style="position: relative; width: 100%; height: 100%; overflow: hidden;"] {
    display: none;
}

[aria-label="盤面を拡大する"],
[aria-label="盤面を拡大する"] + span,
[aria-label="盤面を縮小する"] {
    display: none;
}





.MuiPaper-elevation5 {
    display: none;
}

#root>div>div[tabindex="0"][style] > div:nth-child(3) {
    display: none;
}
